{% set universe = story.universe %}
{% extends 'universe/base.html.twig' %}
{% block title %}Nouveau chapitre{% endblock %}
{% block universe %}
    <div class="row">
        <div class="col-lg-5">
            <h1>Chapitre n°{{ numero }}</h1>
            {{ form_start(newChapterForm, {attr: {id: 'new-chapter-form'} }) }}
                {# Name of this chapter  #}
                <div class="form-group">
                    {{ form_row(newChapterForm.name , {attr: {class: 'form-control mb-3'} }) }}
                </div>

                {# Location of this chapter #}
                <div class="form-group">
                    {{ form_row(newChapterForm.location , {attr: {class: 'form-control mb-3'} }) }}
                </div>

                <button class="btn btn-lg btn-primary" style="width: 100%;">Créer</button>
            {{ form_end(newChapterForm) }}
        </div>
    </div>
{% endblock %}