{% extends 'base.html.twig' %}
{% block title %}Hello!{% endblock %}
{% block body %}
    <h2>
        {{ chapter.getName }}</h2>
    <!-- messages -->
    {% for message in chapter.getMessages|sort_by(=> _.getCreationDate, 'DESC') %}
        <div>
            <h5>
                {{ message.getSender.getFirstName }}
                {{ message.getSender.getLastName }}</h5>
            <p>
                {{ message.getContents }}</p>
            <p>
                {{ message.getCreationDate|date('Y-m-d H:i:s') }}</p>
        </div>
    {% endfor %}
{% endblock %}