{% extends 'base.html.twig' %}
{% block title %}Hello!{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('chat/messages') }}
{% endblock %}
{% block body %}

    <h2>{{ chapter.getName }}</h2>
    {% if user is defined and user is not null %}
        {% set universe = chapter.story.universe %}
        {% if not (universe.isMember(user) or universe.isCreator(user) or universe.isModerator(user) or universe.isApplicant(user)) %}
            <p><a href="{{ path('universe_application_new', {idUniverse: universe.id}) }}">Joindre {{ universe.name }}</a></p>
        {% endif %}
        
    {% endif %}

    <div id="messages" universe={{ chapter.story.universe.id }} story={{ chapter.story.id }} chapter={{ chapter.id }}>
        
        {# Show the area for sending a message if the user is a player #}
        {% if user is defined and user is not null %} 
            {% if chapter.story.isPlayer(user) or chapter.story.isAuthor(user) %}
                <textarea id="messageToSend" name="messageToSend" placeholder="Votre message"></textarea>
                <button name="sendMessageButton" type="button" v-on:click="sendMessage()">Envoyer</button>
            {% else %}
                <p><i>Vous n'êtes pas un joueur de l'histoire. Vous ne pouvez donc pas poster de message</i></p>
            {% endif %}
        {% else %}
            <p><i>Connectez-vous pour envoyer un message</i></p>
        {% endif %}


        {# Show the messages #}
        <div :key="message.id" v-for="message in reverseMessages">
            <h5 :href="'/user/' + message.id">
                <span v-if="message.sender.is_author">${ message.sender.name } (MJ)</span>
                <span v-else>${ message.sender.firstname } ${ message.sender.lastname }</span>
            </h5>
            <p>${ message.contents }</p>
            <p>${ message.creationDate.date }</p>
        </div>
    </div>
{% endblock %}