{% set universe = chapter.story.universe %}
{% extends 'universe/base.html.twig' %}
{% block title %}{{ parent() }} - {{ chapter.getName }}{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/chat/messages') }}
{% endblock %}
{% block universe %}
    {{ parent() }}
    
    <h2 class="chapter-name">{{ chapter.getName }}</h2>
    <div class="row">
        <div class="col-lg-8">
        <!-- Inscription to the story -->
        {% if user is defined and user is not null %}
            {% set universe = chapter.story.universe %}
            {% if not (universe.isMember(user) or universe.isCreator(user) or universe.isModerator(user) or universe.isApplicant(user)) %}
                <p><a href="{{ path('universe_application_new', {idUniverse: universe.id}) }}">Joindre {{ universe.name }}</a></p>
            {% endif %}
        {% endif %}
        <!-- /Inscription -->
        
        <div class="chapter-content" id="messages" universe={{ chapter.story.universe.id }} story={{ chapter.story.id }} chapter={{ chapter.id }}> 
            <!-- Post message -->
            {# Show the area for sending a message if the user is a player #}
            {% if user is defined and user is not null %} 
                {% if chapter.story.isPlayer(user) or chapter.story.isAuthor(user) %}
                    <div class="chapter-post">
                        <textarea id="messageToSend" name="messageToSend" placeholder="Votre message"></textarea>
                        <button class="btn-create" name="sendMessageButton" type="button" v-on:click="sendMessage()">Envoyer</button>
                    </div>
                {% else %}
                    <div class="alert">Vous n'êtes pas un joueur de l'histoire. Vous ne pouvez donc pas poster de message</div>
                {% endif %}
            {% else %}
                <div class="alert">Connectez-vous pour envoyer un message</div>
            {% endif %}
            <!-- /Post message -->
            
            {# Show the messages #}
            <div class="chapter-message" :key="message.id" v-for="message in reverseMessages">
                <div class="chapter-message-info" :href="'/user/' + message.id">
                    <span v-if="message.sender.is_author">${ message.sender.name } (MJ)</span>
                    <span v-else>${ message.sender.firstname } ${ message.sender.lastname }</span>
                    <div class="date">${ message.creationDate.date }</div>
                </div>
                <div class="chapter-message">${ message.contents }</div>
            </div>
        </div>
    </div>
{% endblock %}