{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<div class="row">
  <div class="container">
    <div id="top5now" class="col-md-6 p-0">
      <h3 class="text-center heading-top p-1">TOP 5 UNIVERS AUJOURD'HUI</h3>
      <table style="width: 100%;">
        <tr>
          <th class="text-center">Classement</th>
          <th class="text-center">Univers</th>
          <th class="text-center">Messages</th>
        </tr>
        {% for i in 1..5 %}
          {% if i <= topUniversesDay.count %}
          <tr>
            <td class="text-center">{{ i }}</td>
            <td class="text-center">{{ attribute(topUniversesDay, i-1).getName|escape }}</td>
            <td class="text-center">...</td>
          </tr>
          {% else %}
          <tr>
            <td class="text-center">{{ i }}</td>
            <td class="text-center">...</td>
            <td class="text-center">...</td> 
          </tr>
          {% endif %}
        {% endfor %}
      </table>
    </div>
  </div>
</div>

<h3>TOP 5 UNIVERS CETTE SEMAINE </h3>

{% for i in 1..5 %}
  {% if i <= topUniversesWeek.count %}
  <p>{{ i }} - {{ attribute(topUniversesWeek, i-1).getName|escape }}</p>
  {% else %}
  <p>{{ i }} - ...</p> 
  {% endif %}
{% endfor %}


<h3>TOP 5 UNIVERS CE MOIS-CI</h3>

{% for i in 1..5 %}
  {% if i <= topUniversesMonth.count %}
  <p>{{ i }} - {{ attribute(topUniversesMonth, i-1).getName|escape }}</p>
  {% else %}
  <p>{{ i }} - ...</p> 
  {% endif %}
{% endfor %}

{% endblock %}
