{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-5">
            <h1 class="mt-5 h3 mb-4 font-weight-normal text-center">Inscription</h1>
            {{ form_start(registrationForm, {attr: {id: 'registration-form'} }) }}

                {# User's username #}
                <div class="form-group">
                    {{ form_row(registrationForm.username , {attr: {class: 'form-control mb-3', placeholder: 'Nom d\'utilisateur'} }) }}
                </div>
                {#  User's email #}
                <div class="form-group">
                    {{ form_row(registrationForm.email , {attr: {class: 'form-control mb-3', placeholder: 'Adresse e-mail'} }) }}
                </div>

                {# User's password #}
                <div class="form-group">
                    {{ form_row(registrationForm.plainPassword , {attr: {class: 'form-control mb-3', placeholder: 'Mot de passe'} }) }}
                </div>

                <button class="btn btn-lg btn-primary" style="width: 100%;">S'inscrire et ne jamais revenir en arrière</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
 
                 
                