{% extends 'base.html.twig' %}
{% block title %}Nouvelle histoire{% endblock %}
{% block body %}
    <div class="row">
        <div class="container mt-5">
            <div class="col-lg-5">
                <h1 class="mt-5 h3 mb-4 font-weight-normal text-center">Nouvelle histoire</h1>
                {{ form_start(newStoryForm, {attr: {id: 'new-chapter-form'} }) }}
                    {# Story's name  #}
                    {{ form_row(newStoryForm.name , {attr: {class: 'form-control mb-3'} }) }}

                    {# Story's description  #}
                    {{ form_row(newStoryForm.description , {attr: {class: 'form-control mb-3'}}) }}

                    {# Story's start date  #}
                    {{ form_row(newStoryForm.startDate , {attr: {class: 'form-control mb-3'} }) }}

                    {# Story's end registration date  #}
                    {{ form_row(newStoryForm.endRegistrationDate , {attr: {class: 'form-control mb-3'} }) }}

                    {# Story's visibility  #}
                    {{ form_row(newStoryForm.visibility , {attr: {class: 'form-control mb-3'} }) }}

                    <button class="btn btn-lg btn-primary" style="width: 100%;">Créer</button>
                {{ form_end(newStoryForm) }}
            </div>
        </div>
    </div>
{% endblock %}