{% extends 'base.html.twig' %}
{% block title %}Hello!{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function goToChapter(idUniverse, idStory, idChapter) {
            document.location = '/universe/' + idUniverse + '/story/' + idStory + '/chapter/' + idChapter
        }
    </script>
{% endblock %}
{% block body %}
    <h2>{{ story.getName }}</h2>

    
    <h4>Les Chapitres</h4>

    {# If the user is the author of this story, we propose to him to 
    start a new chapter if he wants #}
    {% if user is defined and user is not null and story.isAuthor(user) %}
        <div>
            <a href="{{ path('chapter_new', {idUniverse: story.getUniverse.getId, idStory: story.getId })}}" >
                Démarrer un nouveau chapitre
            </a>
        </div>
    {% endif %}

    {# Show all chapters from this story #}
    {# The chapter at the top is the most recent one #}
    {% for chapter in story.getChapters|sort_by(=> _.getNumero, 'DESC') %}
        <div class="chapter-row" onclick="goToChapter({{ story.getUniverse.getId }}, {{ story.getId }}, {{ chapter.getId }})">
            <h5>
                Chapitre
                {{ chapter.getNumero }}
                :
                {{ chapter.getName }}
                ({{ chapter.getEnd ? 'Fini' : 'En cours' }})</h5>
            <p>
                {{ chapter.getLocation.getName }}</p>
        </div>
    {% endfor %}
    
{% endblock %}