{% extends 'base.html.twig' %}
{% block title %}Hello!{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('filter/top-universe') }}
    {{ encore_entry_script_tags('status/story') }}
    <script>
        function goToChapter(idUniverse, idStory, idChapter) {
            document.location = '/universe/' + idUniverse + '/story/' + idStory + '/chapter/' + idChapter
        }
    </script>
{% endblock %}
{% block body %}
    <h2>{{ story.getName }}</h2>
    {% if user is defined and user is not null %}
        {% set universe = story.universe %}
        {% if not (universe.isMember(user) or universe.isCreator(user) or universe.isModerator(user) or universe.isApplicant(user)) %}
            <p><a href="{{ path('universe_application_new', {idUniverse: universe.id}) }}">Joindre {{ universe.name }}</a></p>
        {% endif %}
        {% if story.isAuthor(user) %}
            <div id="status" universe="{{ universe.id }}" story="{{ story.id }}">
                <select v-model:value="curStatus">
                    <option :value="status.id" v-for="status in allStatus">${ status.name }</option>
                </select>
            </div>
        {% endif %}
    {% endif %}
    
    <h4>Les Chapitres</h4>

    {# If the user is the author of this story, we propose to him to 
    start a new chapter if he wants #}
    {% if user is defined and user is not null and story.isAuthor(user) %}
        <div>
            <a href="{{ path('chapter_new', {idUniverse: story.getUniverse.getId, idStory: story.getId })}}" >
                Démarrer un nouveau chapitre
            </a>
        </div>
    {% endif %}

    {# Show all chapters from this story #}
    {# The chapter at the top is the most recent one #}
    {% for chapter in story.getChapters|sort_by(=> _.getNumero, 'DESC') %}
        <div class="chapter-row" onclick="goToChapter({{ story.universe.id }}, {{ story.id }}, {{ chapter.getId }})">
            <h5>
                Chapitre
                {{ chapter.getNumero }}
                :
                {{ chapter.getName }}
                ({{ chapter.getEnd ? 'Fini' : 'En cours' }})</h5>
            <p>
                {{ chapter.getLocation.getName }}</p>
        </div>
    {% endfor %}
    
{% endblock %}