{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Nouvel univers{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-5">
            <h1 class="mt-5 h3 mb-4 font-weight-normal text-center">Nouvel univers</h1>
            {{ form_start(newUniverseForm, {attr: {id: 'new-chapter-form'} }) }}
                {# Universe's name  #}
                <div class="form-group">
                    {{ form_row(newUniverseForm.name , {attr: {class: 'form-control mb-3'} }) }}
                </div>
                {# Universe's description  #}
                <div class="form-group">
                    {{ form_row(newUniverseForm.description , {attr: {class: 'form-control mb-3'}}) }}
                </div>
                {# Universe's logo  #}
                <div class="form-group">
                    {{ form_row(newUniverseForm.logoURL , {attr: {class: 'form-control mb-3'}}) }}
                </div>
                {# Universe's banner  #}
                <div class="form-group">
                    {{ form_row(newUniverseForm.bannerURL , {attr: {class: 'form-control mb-3'}}) }}
                </div>

                <button class="btn btn-lg btn-primary" style="width: 100%;">Créer</button>
            {{ form_end(newUniverseForm) }}
        </div>
    </div>
{% endblock %}