{% extends 'universe/base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/order/stories') }}
{% endblock %}
{% block universe %}
    {{ parent() }}
    <!-- Inscription to universe -->
    {% if user is defined and user is not null %}
        {% if not (universe.isMember(user) or universe.isCreator(user) or universe.isModerator(user) or universe.isApplicant(user)) %}
            <p><a href="{{ path('universe_application_new', {idUniverse: universe.id}) }}">Joindre {{ universe.name }}</a></p>
        {% endif %}
    {% endif %}
    <!-- /Inscription to universe -->
    <!-- Stories list -->
    
    <div id="stories" universe="{{ universe.getId }}">
        <div class="story-list">
            <div class="ribbon">
                <h2 class="ribbon-content">Les Histoires</h2>
                {% if user is defined and user is not null and universe.canCreateStory(user) %}
                    <div class="create-button">
                        <a href="{{ path('story_new', {idUniverse: universe.getId})}}" >
                            Créer une nouvelle histoire
                        </a>
                    </div>
                {% endif %}
            </div>
            
            <!-- Story filter -->
            <div class="select">Filtrer par :
                <select v-model:value="storiesOrder">
                    <option :value="order[0]" v-for="order in storiesTypeOrder">${ order[1] }</option>
                </select>
            </div>

            <div class="story-row" @click="goToStory(story.id)" :key="story.id" v-for="story in stories">
                <h3>&#10002; ${ story.name }</h3>
                <div class="story-description">${ story.description }</div>
                <div class="story-summary">${ story.summary }</div>
            </div>
        </div>
    </div>
    <!-- /Stories list -->
{% endblock %}