{# Base view for all views in these directory 

If the user is connected, this view provide user's information 
such as universes in which he participates, a way to see his profile 
and a way to disconnect.
Else, it shows a way to log into its account or to create an new one.
#}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                Paradice &#8734; 
            {% endblock %}
        </title>
        {# Fonts #}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:600,600i,700,700i,800,800i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Sriracha" rel="stylesheet">
        <link
        crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" rel="stylesheet">

        {# This stylesheets will be used in every view #}
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('css/app') }}
        {% endblock %}

        {# Thanks to the cache, Vue.js and axios will only be loaded once 
                        so that's why it is loaded for all the views #}
        {% block vue %}
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        {% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-inverse" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{path('home')}}"><img src="{{ asset('build/images/logo.png') }}"></a>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul
                    class="nav navbar-nav">
                    {# Show user related information if he is connected #}
                    {% block user %}
                        {% if user is defined and user is not null %}
                            <li>
                                <a href="#" class="navbar-username">{{ user.getUsername }}</a>
                            </li>
                            <li>
                                <a href="/user/{{ user.getId }}/profile">Mon profil</a>
                            </li>
                            <li>
                                <a href="{{ path('app_logout') }}">Me déconnecter</a>
                            </li>
                            <li>
                                <a href="{{ path('universe_new') }}">Créer mon univers</a>
                            </li>
                            {% for universeMember in user.getUniverseMembers %}
                                {% set universe = universeMember.getUniverse %}
                                <li>
                                    <a style="background-image:url('{{ asset('build/images/sample-illustration.jpeg') }}')" class="navbar-universe" href="{{ path('universe_show', {'idUniverse': universe.getId})}}">
                                        {{ universe.getName }}
                                    </a>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li>
                                <a href="{{ path('app_login') }}">Me connecter</a>
                            </li>
                            <li>
                                <a href="{{ path('app_register') }}">Créer un compte</a>
                            </li>
                        {% endif %}
                    {% endblock %}
                </ul>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Support</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div class="main-content">
            {# Content from the view will be loaded here #}
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}

    </body>

</html>