{% extends 'base.html.twig' %}
{% block title %}Inscription à l'univers {{ universe.name }} {% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="container mt-5">
            <div class="col-lg-5">
                <h1 class="mt-5 h3 mb-4 font-weight-normal text-center">Inscription à l'univers {{ universe.name }}</h1>
                {{ form_start(newApplicationForm, {attr: {id: 'new-application-form'} }) }}
                    {# Universe's name  #}
                    {{ form_row(newApplicationForm.motivation , {attr: {class: 'form-control mb-3'} }) }}


                    <button class="btn btn-lg btn-primary" style="width: 100%;">Créer</button>
                {{ form_end(newApplicationForm) }}
            </div>
        </div>
    </div>
{% endblock %}