{% extends 'base.html.twig' %}

{% block title %}{{ userProfile.username }}{% endblock %}

{% block body %}
<h2>{{ userProfile.username }}</h2>
<p>{{ userProfile.email }}</p>
<img src="{{ img_directory }}/{{ userProfile.avatarURL }}" alt="avatar_{{ userProfile.username }}" />
{% if me %}
    {{ render(controller('App\\Controller\\UserController::edit', { 'idUser': userProfile.id })) }}
{% endif %}



<h3>Univers créés :</h3>
{% for universe in userProfile.createdUniverses %}
    <p><a href="{{ path('universe_show', {idUniverse: universe.id}) }}" >{{ universe.name }}</a></p>
{% endfor %}

<h3>Univers modérés :</h3>
{% for universe in userProfile.moderatedUniverses %}
    <p><a href="{{ path('universe_show', {idUniverse: universe.id}) }}" >{{ universe.name }}</a></p>
{% endfor %}

<h3>Membre des univers :</h3>
{% for universeMember in userProfile.universeMembers %}
    {% set universe = universeMember.universe %}
    <p><a href="{{ path('universe_show', {idUniverse: universe.id}) }}" >{{ universe.name }}</a></p>
{% endfor %}

<h3>Personas</h3>
{% for persona in userProfile.personas %}
    <p><a href="">{{ persona.firstName }} {{ persona.lastName }}</a></p>
{% endfor %}

{% endblock %}
